<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href="/api">API</a></div>
    <div><a href="/about">About</a></div>
    <form action="/form" method="post">
       Imię <input type="text" name="name"/>
         Nazwisko <input type="text" name="surname"/>
         <button>Submit</button>
    </form>
</body>
</html>